name: students-record-keeping
services:
  db:
    build: ./database
    container_name: mysql_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: gti_record_keeping_v2
      MYSQL_USER: gti_record_keeping
      MYSQL_PASSWORD: TBD!
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    #environment:
    #  - DATABASE_URL=mysql+pymysql://root:root@db:3306/students
    environment:
      # point to your local DB
      - DATABASE_HOST=host.docker.internal
      - DATABASE_PORT=3306
      - DATABASE_USER=gti_record_keeping
      - DATABASE_PASSWORD=TBD!
      - DATABASE_NAME=gti_record_keeping_v2
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
